extend layout

block content
	h1 Jobs available
	if jobs
		each job in jobs
			.panel.panel-primary
				.panel-heading | Title: #{job.title} | Pay: #{job.price} | Written by: #{job.client} | Date: #{job.dateAdded}      
					if usertype == 'photographer'
						a.btn.btn-default(href='/jobs/'+job._id) Go to job
				.panel-body Summary: #{job.summary}