extend layout

block content
	if jobs
		each job in jobs
			.panel.panel-primary
				.panel-heading Title: #{job.title} | Price: #{job.price} | Date: #{job.dateAdded}
				.panel-body #{job.summary}
				hr
				h4 Applicants:
				p Photographer Name: 
				each photographer in job.photographer
					p #{photographer.name} blah blah | Profile: |
				form(action="/myjobs" method="POST")
					script.stripe-button(src="https://checkout.stripe.com/checkout.js", data-key='#{key}', data-amount='#{job.price}', data-name='#{job.title}', data-description='#{job.summary}')