extend layout

block content
	if jobs
		each job in jobs
			h1 My Jobs
			.panel.panel-primary
				.panel-heading Title: #{job.title} | Price: #{job.price} | Date: #{job.dateAdded} 
					a.btn.btn-default(href='/jobs/'+job._id) Accept Job
				.panel-body #{job.summary}
				hr
				h4 Applicants:
				p Photographer Name: 
				each photographer in job.photographer
					p #{photographer.name} | Profile: "for public profile link"