extend layout

block content
	h1 Profile page
	.profilepicture 
		img(src="#{picture}")
	.details
		ul Displayname: #{dname}
		ul Full name: #{first} #{last}
		ul Email: #{email}
		ul 
			a(href='#{link}') Google+